.container {
    position: relative;
    width: 30px;
    height: 30px;
    transform-style: preserve-3d;
}
.foot,
.head {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(30px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.body {
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateZ(14px) rotateX(90deg);
    width: 30px;
    height: 30px;
}
.foot {
    transform: translateZ(0px);
}

.color-1 .head {
    background-color: #ca83dd;
}
.color-1 .body,
.color-1 .foot {
    background-color: #b15ec7;
}

.color-2 .head {
    background-color: #dedc43;
}
.color-2 .body,
.color-2 .foot {
    background-color: #bdbb27;
}

.color-3 .head {
    background-color: #de4343;
}
.color-3 .body,
.color-3 .foot {
    background-color: #c93939;
}

.color-4 .head {
    background-color: #4369de;
}
.color-4 .body,
.color-4 .foot {
    background-color: #3458c7;
}

.color-5 .head {
    background-color: #4fde43;
}
.color-5 .body,
.color-5 .foot {
    background-color: #40cb35;
}

.color-6 .head {
    background-color: #dea043;
}
.color-6 .body,
.color-6 .foot {
    background-color: #c28832;
}

.color-white .head {
    background-color: #dedede;
}
.color-white .body,
.color-white .foot {
    background-color: #cbcaca;
}

.color-black .head {
    background-color: #333;
}
.color-black .body,
.color-black .foot {
    background-color: #262626;
}
