.container {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.line {
    display: flex;
    flex-direction: row;
}
.row:nth-child(2n + 1) {
    background-color: #ccc;
}
.row:nth-child(2n + 0) {
    background-color: #ddd;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 4px;
}
.diff {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
