.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform-style: preserve-3d;
}
.infoSecond,
.infoMain {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid 2px #bbb;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: transform, width, margin-left;
    /*transition-property: width;*/
    transition-duration: 300ms;
    transition-timing-function: ease;
}
.info-playThis {
    width: 60%;
    margin-left: 5%;
}
.info-error {
    width: 60%;
    margin-left: 5%;
}
.info-computing {
    width: 20%;
    margin-left: 25%;
}
.info-writeDiff {
    width: 30%;
    margin-left: 70%;
}

.info-playThis .button {
    margin-left: auto;
    margin-right: 10px;
}
.button {
    border-radius: 4px;
    padding: 4px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
