.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform-style: preserve-3d;
}
.infoSecond,
.infoMain {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 50px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: transform, width, margin-left, background-color;
    transition-duration: 300ms;
    transition-timing-function: ease;

    background-color: rgba(255, 255, 255, 0.3);
    background-color: #b6e3ce;
    background-color: rgba(228, 244, 217, 0.86);
    /*border: solid 2px #e4f4d9;*/
    color: #6a6d70;
    border-radius: 2px;
}
.info-playThis {
    width: 60%;
    margin-left: 5%;
}
.info-error {
    width: 60%;
    margin-left: 5%;
}
.info-computing {
    width: 20%;
    margin-left: 25%;
}
.info-writeDiff {
    width: 30%;
    margin-left: 70%;
}
.infoSecond.info-writeDiff {
    width: 60px;
    margin-left: calc(84% - 30px);
}

.info-playThis .button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    /*margin-left: auto;
    margin-right: 10px;*/
}
.info-playThis .title {
    margin-right: 50px;
}
.button {
    border-radius: 4px;
    padding: 4px 10px;
    background-color: #fff;
    cursor: pointer;
}
.title {
    color: #333;
    text-align: center;
}
.subtitle {
    color: #333;
    text-align: center;
    font-size: 0.8em;
}

.infoMain .arrow {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -16px;
    border: solid 20px transparent;
    border-top-color: rgba(228, 244, 217, 0.86);
    border-top-width: 16px;
    border-bottom-width: 0;

    transition-property: border-top-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
}
.infoSecond .arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: -16px;
    border: solid 20px transparent;
    border-bottom-color: rgba(228, 244, 217, 0.86);
    border-bottom-width: 16px;
    border-top-width: 0;
}

.info-error {
    background-color: rgba(251, 153, 52, 0.86);
}
.info-error .arrow {
    border-top-color: rgba(251, 153, 52, 0.86);
}
