.container {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.slot {
    position: relative;
    width: 40px;
    height: 40px;
}
.wobble .slot {
    animation-name: wobble;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.clickable .slot {
    cursor: pointer;
}
.dot {
    transform-style: preserve-3d;
    transform: scale3d(0.8, 0.8, 0.6);
    margin: 6px;
}
.animated .dot {
    animation-name: appear;
    animation-duration: 200ms;
    animation-timing-function: ease;
}
.hole {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}
@keyframes appear {
    0% {
        transform: translateZ(300px) scale3d(0.8, 0.8, 0.6);
    }
    100% {
        transform: translateZ(0) scale3d(0.8, 0.8, 0.6);
    }
}
@keyframes wobble {
    0% {
        transform: scale3d(1, 1, 1);
    }
    60% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}
