.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    perspective: 1000px;
    /*animation: wobble 10000ms infinite;*/
    animation: start 2000ms ease;
    transform-style: preserve-3d;
    transform: rotateX(28deg);

    display: flex;
    justify-content: center;
    align-items: center;
}
.gyro2,
.gyro {
    transform-style: preserve-3d;
}
@keyframes wobble {
    0% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(18deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}
@keyframes start {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(28deg);
    }
}
.board {
    width: 80%;
    min-width: 300px;
    max-width: 640px;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
