body {
    /*background-image: radial-gradient(ellipse, #b6e3ce 120%, #e4f4d9 0%);*/
    background-image: radial-gradient(
        ellipse at center,
        rgba(99, 36, 40, 0) 0%,
        rgba(99, 36, 40, 0.50) 130%
    );
    background-color: #f24b55;

    color: #333;
    font-size: 16px;
    font-family: helvetica;
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 1000px;
    /*animation: wobble 10000ms infinite;*/
    animation: start 2000ms ease;
    transform-style: preserve-3d;
    transform: rotateX(28deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gyro2,
.gyro {
    transform-style: preserve-3d;
}
@keyframes wobble {
    0% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(18deg);
    }
    100% {
        transform: rotateX(90deg);
    }
}
@keyframes start {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(28deg);
    }
}
.board {
    width: 80%;
    min-width: 300px;
    max-width: 640px;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
